@charset "UTF-8";

div#container {
	background-color:#F5F5F5; 
	width:100%;
	margin:0 auto;
}

header{
	width:100%;
	height:20%;
	position:relative;
	padding:10px 0 0 0;
}

header h1{
	text-align: center;
	margin-left: 0px;
	text-decoration:none;
}

section#content {
	background-color: white;
	margin:0 auto;
	width:100%;
	height:60%;
}

footer { 
	background-color:#D8E7F7;
	clear:both;
	height:auto;
	text-align:center;
	padding-top:10px;
	padding-bottom: 10px;
}

/* 로그인 폼 */
header div.login-container {
	width:250px; 
	position:absolute; 
	right: 0px; 
	top: 10px;
}

.btn1 {
float: left;
width: 30px;
}

.btn2 {
float: left;
width: 30px;
}


/* 로그인테이블관련 : 탭순서를 고려해 submit버튼이 2번째행 2번째열에 배치 */
#loginFrm table { 
	empty-cells:hide;
}

#loginFrm input[type=submit] {
	top:10px;
}

/* 메뉴관련스타일 */
header nav {
	background:gray; 
	width:100%; 
	margin-top:40px;
}

/* ul태그의 가운데정렬 */
ul.main-nav {
	/* width:80%; */
	display:table;
	padding:0px;
	margin:auto;
}

ul.main-nav li { 
	list-style-type: none; 
	width: 8em; 
	height: 2em;
	float: left; 
	text-align: center; 
	font-family: "휴먼모음T", sans-serif; 
	border-left: 1px #00bcd4 solid;
	background-color: gray; 
}

ul.main-nav li:last-of-type {
	border-right:1px #00bcd4 solid;
}

ul.main-nav li a {
	display: block;
	padding:.5em;
	text-decoration: none;
	color: #292929;
}

/* hover시 배경색 변경 */

ul.main-nav li:hover{
	background-color: #3300ff;
}

ul.main-nav li:hover > a{
	color:#FFF; /* 글자색*/
}
/* ... */
/* Set fixed height for the menu bar */
.flex-shrink-0 {
    height: 100vh; /* Change the value as per your preference */
    overflow-y: auto; /* Add scrollbar when content overflows */
}

/* Set fixed height for the submenu content */
.collapse {
    max-height: 200px; /* Change the value as per your preference */
    overflow-y: auto; /* Add scrollbar when content overflows */
}

/* ... */

